var el = $('#new_comment');

<% if @comment.errors.any? %>

  // Create a list of errors
  var errors = $('<ul />');

  console.log(errors);
  <% @comment.errors.full_messages.each do |error| %>
    errors.append('<li><%= j( error ) %></li>');
  <% end %>
  console.log(errors);
  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

  // We could also render a partial to display the comment here
  $("<%= j(render @comment) %>").appendTo("#comments");

  // Clear form
  el.find('input:text,textarea').val('');
  el.find('.errors').empty();

<% end %>
