<% if current_user %>
  <h1 class="text-center"> <%= current_user.job.titleize %>'s Shifts</h1>
<% else %>
  <h1 class="text-center">Shifts</h1>
<% end %>

<%= link_to 'Submit a shift', new_shift_path, class: "btn btn-success" %>
<%= render @shifts %>
